<div class="container-fluid main">
    <nav class="navbar bot-left hidden-lg-up">
        <ul class="nav mr-auto" style="font-family: 'IM Fell DW Pica', sans-serif;">
            <li class="nav-item">
                <a class="nav-link inset top-nav" ng-href="#/developer">developer,</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inset top-nav" ng-href="#/journalist">journalist,</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inset top-nav" ng-href="#/artist">artist</a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="col">
            <h1 class="elegantshd text-center">Ryan Schill</h1>
        </div>
    </div>
    <div class="row hidden-md-down">
        <div class="col">
            <div class="home-nav" style="font-family: 'IM Fell DW Pica', sans-serif;">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link inset" ng-href="#/developer">developer,</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link inset" ng-href="#/journalist">journalist,</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link inset" ng-href="#/artist">artist</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="paragraph-text mx-auto">
                <p>I am a front-end JavaScript developer and web designer; an award-winning multimedia journalist, editor, and
                    designer; an award-winning author of short fiction; and a visual artist concentrating in digital sequential
                    art. I bring all of these skills together on every development project, resulting in web applications
                    and pages that feature strong SEO, beautiful design, and rich user experiences built on a foundation
                    of elegant, performant code.
                </p>
            </div>
        </div>
    </div>
    <div class="row align-items-center" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="col">
            <div class="bottom-nav">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link disabled" ng-href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row footer align-items-center">
        <div class="col-12">
            <p class="footer-text text-center">&copy 2017 Ryan Schill | Designed by Ryan Schill</p>
        </div>
    </div>
</div>